{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'logo-network.png'%}">
    </a>
    <h1>The Good (A)Idea hackathon - BOSS on Peltarion</h1>
    <p>Here will be description.</p>
    <a type="button" class="btn btn-lg btn-default" href="/record"><span class="glyphicon glyphicon-music"></span> Record</a>
    <a type="button" class="btn btn-lg btn-default" href="/upload"><span class="glyphicon glyphicon-download"></span> Upload</a>
  </div>
</div>
{% endblock %}
