{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
<h2>Choose your file please :)</h2>
<!-- List of uploaded documents -->

      <li class="list-group-item"><a href="{{ documents.last.docfile.url }}" target="_blank">{{ documents.last.docfile.name }}</a></li>

      <!-- Upload form. Note enctype attribute! -->
      <form id="upload-form" action="{% url "upload" %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <p>{{ form.non_field_errors }}</p>

          <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

          <p>
              {{ form.docfile.errors }}
              {{ form.docfile }}
          </p>

          <p>
            <input id="upload-btn" class="btn btn-default" type="submit" value="Process"/>
          </p>
      </form>
</div>

{% endblock %}
